.photo
{
    float:right
}

.renseignements
{
    border: 5px black;
    align-items:flex-start;
    font-weight: bold;
    
}

h1
{
    color:red;
    text-align: center;
    font-weight: bold;
    text-decoration:underline;
}

mark
{
    background:none
}

h2
{
    color: blue;
    text-align: center;
    text-decoration:underline
    
}

h3
{
    font-weight: bold;
    text-decoration: underline;
}


.gras
{
    font-weight: bold;
}

.souligné
{
    text-decoration:underline;
}